@tailwind base;

@tailwind components;

@tailwind utilities;

/* The sidebar menu */
.body {
    min-height: 100vh;
    display: flex;
}

.sidenav {
    height: 100vh;
    background-color: #2C2F33;
    padding: 16px;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.content {
    flex-grow: 1;
    display: flex;
    background-color: #99AAB5;
    flex-direction: column;
    padding-left: 20px;
    font-size: 30;
}

.header {
    font-size: 20;
    padding-bottom: 20;
    color: #99AAB5;
}

.room {
    background-color: #404EED;
    width: 96px;
    height: 96px;
    border-radius: 12px;
    color: #99AAB5;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }

  .welcome {
      font-size: 60;
  }

  .createRoom {
    display: flex;
    flex-direction: column;
    max-width: 800px;
  }

  .roomInput {
    border-radius: 5px;
    background-color: #99AAB5;
    border: solid;    
  }

  .chatBody {
    background-color:#99AAB5 ;
    display: flex;
    height: 100%;
    flex-direction: column;
  }

  .chatBar {
    display: flex;
    flex-direction: row;
    height: 100px;  
  }

  .messages {
      height: 100%;
      overflow-y:auto;      
  }

  .chatTextBar {
      width: 100%;
      font-size: 30;
  }

  .chatName {
      font-size: 30;
      padding-right: 10px;
      padding-left: 10px;
      white-space: nowrap;
  }

  .chatContent {
      padding-left: 10px;
      max-width:1000px;
      word-wrap:break-word;

  }

  .chatBubble {
    background-color: lightgray;
    width: min-content;
    height: min-content;
    border-radius: 8px;
    color: black;
    margin: 16px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    font-size: 16px;
  }

  .title {
      font-size: 50;
  }

 